.mainlinks{padding: -0px;
           margin: 0px;
           width: 1366px;
           display: flex;
           justify-content: space-between;
           word-spacing: 1px;
           justify-content: end;
           background-color: black;
           position: relative;
           top: -8px;
           left: -8px;}

.mainlinks li{list-style: none;
                   display: flex;
                    display: inline-block;
                    margin-right: 20px;
                    transition: -0.1s ease-in-out ;}

.mainlinks  li  :hover{transition:  -0.1s ease-in-out;
                      color: grey;
                      height: 15px;}                  


.mainlinks ul li a{position: relative;
                    display: flex;
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                   left: -7px;}
           

.logoimage{position: absolute;
           left: 40px;
           top: 50px;}


.contantlinks{padding: 0px;
              margin: 0px;
              display: flex;
              justify-content: center;
              position: relative;
              top: 75px;
              left: -7px;
              word-spacing: 20px;
              background-color:black;
              height: 64px;
              width: 1364px;
              transition:  o.5s ease-in-out;}

.contantlinks :hover{transition:  0.5s ease-in-out;
                      background-color: black;
                      color: white;}


.contantlinks select{padding: 0px;
                      position: relative;
                     margin: 0px;
                     font-size: 16px;
                     border: 1px solid grey;
                     margin: 10px;
                    border-radius: 5px;
                    background-color:white;
                    height: 30px;
                    top: 10px;
                    transition:  1s ease-in-out;}

.contantlinks  option {background-color: black;
                       color: white;}
                 

.searchbar{padding: 0px;
           display: flex;
           width: 90px;
           position: relative;
          left: 10px;
          }
          
.srch{ position: relative;
     padding: 0px;
      width: 270px;
      display: flex;
      position: relative;
      left: 1043px;
      top: -45px;
      height: 35px;
      border-radius: 10px;
      border: solid 0.1px grey;
      background-color: rgb(240, 235, 235);
      justify-content: center;}

.searchbar ::placeholder{color: rgb(185, 185, 185);
                         position: relative;
                         left: 39px;
                        font-size: 15px;
                        border: none;}

.searchsign{display: flex;
            justify-content: center;
            position: relative;
            margin-top: -39px;
            margin-left: 880px;}

.heartlogo{display: flex;
           justify-content: center;
           position: relative;
           margin-top: -47px;
           margin-left: 171px;}

.basketimagesrch{display: flex;
                 justify-content: center;
                 position: relative;
                 margin-top: -40px;
                 margin-left: 20px;}

.show{
      position: relative;
      width: 700px;
      margin-top: -90px;
      margin-left: -1466px;}

.show svg{width: 400px;
          margin-top: -20px;}
